@import './theme.css';

* {
  transition: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listNotes,
.noteSampah,
.dropdown-menu,
.dropdown-content, .box, .card {

  border: none !important;
  border-radius: 16px !important;
  background: var(--card) !important;
  box-shadow: none !important;
}

.fab-menu {
  opacity: 0;
  transform: translateY(10px) scale(.95);
  pointer-events: none;
}

.fab-menu.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.areaCatatan:focus,
.judulCatatan:focus {
  background-color: rgba(0, 0, 0, .03);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}


.hiddenScroll {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.areaCatatan {
  border: none;
  box-shadow: none;
  resize: none;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.5rem;
  background-color: transparent;
  min-height: 12rem;
  flex: 1;
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: var(--primary) transparent;
  overflow-x: hidden;

  
}

.judulCatatan {
  border: none;
  box-shadow: none;
  resize: none;
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 3rem;
  max-height: 8rem;
  background-color: transparent;
  

}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.listNotes {
  cursor: pointer;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 1rem;

  
}

.listNotes-Sampah {
  cursor: pointer;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 1rem;
}

.backBtn {
  align-items: center;

}

.editor-area {
  min-height: 20rem;
  line-height: 1.6;

  padding-bottom: 600px;
  
}

.editor-area:empty::before {
  content: attr(data-placeholder);
}


.editor-area ul {
  list-style: disc;
  padding-left: 24px;
}

.editor-area li {
  margin-bottom: 6px;
}

.judulCatatanIndex {
  border-bottom: 1px solid var(--hr);
}

.headerCatatanIndex {
  font-size: 1.2rem;
  font-weight: bold;
}


.editBtn {
  background: transparent;
  border: none;
  color: var(--text);
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 8px;
  min-width: 40px;
}

.editBtn:hover {
  background: var(--btn);
}

.editBtn:active {
  background: var(--btn2);
}

.editBtn select {
  background: transparent;
  border: none;
  color: var(--text);
  font-weight: 500;
  padding: 0;
  margin: 0;
  cursor:grab;
}

.editBtn select:focus {
  outline: none;
}

.pinned {
  border: 2px solid #ffd966;
  background-color: var(--background);
}

.bxs-pin {
  color: #ff9800;
}

.fab-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 80px;
  right: 20px;
  z-index: 99999;
}

/* tombol bulat */
.fab-btn {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, .25);
}

/* floating button */
.fab-menu {
  position: absolute;
  bottom: 70px;
  right: 0;
  min-width: 180px;
  padding: 0.5rem;
}

/* item menu */
.fab-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  color: #363636;
}

.fab-item:hover {
  background: #f5f5f5;
}

i,
.bx {
  color: var(--primary);
}

/* Editor Stats */
.editor-stats {
  background: var(--btn);
  border-radius: 6px;
  padding: 8px 12px;
  margin-top: 8px;
  border: 1px solid var(--background);
  
}

.editor-stats span {
  font-weight: 500;
}

/* Toolbar Container */
.toolbar-container {
  background: var(--card);
  /* border-radius: 8px; */
  padding: 12px;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
  /* border: 3px solid var(--background); */
  width: 92%;

  position: sticky;
  top: 50px;
  z-index: 10;
  
  
}

/* Editor Container */
.editor-container {
  background: var(--card);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid var(--background);
  width: 100%;

  padding-bottom: 200px;
}

.editor-container .input {
  border: 0px solid var(--background) !important;
  background: var(--btn);
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
}

.editor-container .input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.editor-area {
  min-height: 30rem;
  line-height: 1.6;
  width: 100%;
  border: 1px solid var(--background);
  border-radius: 6px;
  background: var(--btn);
}

.bottom-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
  background: var(--card);

  z-index: 999; /* biar ga ketimpa */
}

.tab-item {
  flex: 1;
  text-align: center;
  color: #777;
}

.tab-item.is-active {
  color: var(--text);

  border-bottom: 2px solid var(--primary);
}

.todo-title, .todo-input{
  color: var(--text);
}

.todo-title{
  border: none;
  background: transparent;
  font-size: 1.25rem;
  font-weight: 900;
  width: 100%;
  height: 30px;
  /* padding-inline: 6px; */

  border-bottom: 1px solid var(--primary);
}

.todo-input {
  border: none;
  background: transparent;
  width: 100%;
}

.todo-items{
  background: var(--btn);
  border-radius: 16px;
}

.searchInput {
  border: none !important;
  background: var(--btn) !important;
  border-radius: 6px;
  width: 100%;
}
